@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --prim: #0c0c0c;
  --sec:#e6e1e1;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  box-shadow: 0 0 40px var(--sec);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--prim);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sec);
}

body{
  background-color: var(--prim);
  font-family: 'Poppins', sans-serif;
}
section {
  opacity: 0;  /* Hide elements initially */
  transform: translatexX(-50px);  /* Optional: Add a slight upward movement for visual appeal */
  transition:  0.8s ease-in-out, transform 0.8s ease-in-out;  /* Add transition effects */
}
header{
  background-color: var(--prim);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 15px;
  font-family: 'Archivo', sans-serif;
}

.logo a{
 text-decoration: none;
 color: var(--sec);
 font-size: 1.7em;
 font-weight: 900;
}
header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px;
  top: 0;
  left: 0;
}
header a{
  text-decoration: none;
  color: var(--sec);
  font-size: 18px;
  font-weight: 600;
}
#nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar li{
 list-style: none;
 padding: 0 15px;

}
#nav-bar li a{
 text-decoration: none;
 font-size: 1.0em;
 border-radius: 3px;
 font-weight: 600;
 box-shadow: inset 0 0 0 0 var(--prim);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#nav-bar li a:hover{
  box-shadow: inset 100px 0 0 0 var(--sec);
  color: var(--prim);
}

#nav-bar li i{
  text-decoration: none;
  color: var(--sec);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
 text-decoration: none;
 font-size: 1.0em;
 border-radius: 3px;
 font-weight: 600;
  box-shadow: inset 0 0 0 0 var(--prim);
  margin: 0 -.25rem;
  padding: 8px .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#nav-bar li i:hover {
  box-shadow: inset 100px 0 0 0 var(--sec);
  color: var(--prim);
}

.hammenu{
  display: none;
  align-items: center;
}
#close{
  display: none;
}



#hero{
  height: 100vh;
  max-width: 100%;
  
}
#home{
  height: 88vh;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  color: var(--sec);
}
#home .banner {
 width: 100%;
 height: 50%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
#home .banner h1{
  font-size: 5em;
  letter-spacing: 5px;
  font-weight: 900;
  transition: 0.5s ease-in-out;
}
#home .banner h1:hover {
  animation: flickeringBulb 2s infinite alternate ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@keyframes flickeringBulb {
  0% {
    opacity: 0; /* Text completely invisible */
  }
  33% {
    opacity: 1;
    text-shadow:  0 0 5px #d2d3d3,
    0 0 25px #d2d3d3,
    0 0 50px #d2d3d3,
    0 0 200px #d2d3d3
  }
  66% {
    opacity: 0.5;
    text-shadow: 0 0 20px #d2d3d3,
    0 0 25px #d2d3d3,
    0 0 50px #d2d3d3,
    0 0 200px #d2d3d3;

  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px #d2d3d3,
    0 0 25px #d2d3d3,
    0 0 50px #d2d3d3,
    0 0 200px #d2d3d3;
  }
}
#home .area {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#home .area p{
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
}
#home .area span{
  text-align: center;
  font-weight: 600;
}
#home .area .links ul{
 display: flex;
 justify-content: space-between;
 list-style: none;
 align-items: center;
}
#home .area .links ul li{
 padding: 10px;
}
#home .area .links ul li a{
 text-decoration: none;
 color: var(--sec);
 border-radius: 50%;
 font-size: 2em;
}
#about{
  position: relative;
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}
#about .bio{
  width: 50%;
  margin: 10px;
  color: var(--sec);
}
#about img{
  width: 50%;
  object-fit: contain;
  padding-left: 10px;
}
#about .bio h2{
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 5px;
}
#about .bio p{
  text-align: justify;
  font-weight: 300;
  font-size: 1.0em;
}
#about .bio a {
  position: relative;
  display: inline-block;
  padding: 20px ;
  margin: 20px 0;
  color: #d2d3d3;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease-in;
  letter-spacing: 2px;
  font-size: 0.9em;
  overflow: hidden;
  filter: hue-rotate(270deg);
}

#about .bio a:hover {
  background: #d2d3d3;
  color: #050801;
  box-shadow: 0 0 5px #d2d3d3,
      0 0 25px #d2d3d3,
      0 0 50px #d2d3d3,
      0 0 200px #d2d3d3;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
#about .bio a span {
  position: absolute;
  display: block;
}
  a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #d2d3d3);
    animation: animate1 1s linear infinite;
}


#about .bio a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d2d3d3);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}


#about .bio a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d2d3d3);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}


#about .bio a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d2d3d3);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
  #service {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  #service h2 {
    color: var(--sec);
    font-size: 2.5em;
    margin-bottom: 20px; 
    padding: 10px;
    height: 100px;
  }
  #project {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  #project h2 {
    color: var(--sec);
    font-size: 2.5em;
    margin-bottom: 20px; 
    padding: 10px;
    height: 100px;
  
  }
  
  .boxes {
    padding: 0 80px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    transition: 0.5s ease-in-out;
  }

  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
    color: var(--sec);
    background-color: #f0f0f0;
    margin: 10px; 
    transition: 0.5s ease-in-out;
    border-radius: 4px;
    background: #171717;
    box-shadow:  -5px 5px 23px #111111,
                 5px -5px 23px #1d1d1d;
    @media (max-width: 768px) {
      width: 45%;
      margin: 5px;
    }
  
    @media (max-width: 480px) {
      width: 100%;
      margin: 0 0 10px; 
    }
  }
  
  .box:hover{
    background-color: var(--sec);
    color: var(--prim);
    cursor: pointer;
    background: var(--sec);
    box-shadow:  -5px 5px 23px #f0f0f0,
                 5px -5px 23px #afadad;
  }
  .box i{
    font-size: 2em;
    padding: 10px;
  }
  .box h3{
    padding: 5px;
    font-size: 1.8em;
    font-weight: 400;
  }




#contact{
  position: relative;
  min-height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}
#contact form{
  height: 70vh;
  width: 70%;
border-radius: 8px;
background: #171717;
box-shadow:  6px 6px 12px #111111,
             -6px -6px 12px #1d1d1d;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px ;
  margin: 20px 0;
  color: #d2d3d3;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease-in;
  letter-spacing: 2px;
  font-size: 0.9em;
  overflow: hidden;
  filter: hue-rotate(270deg);
}
#contact form .animate {
  position: absolute;
  display: block;
}
#contact form .animate:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #d2d3d3);
  animation: animate1 1s linear infinite;
}


#contact form .animate:nth-child(2) {
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #d2d3d3);
animation: animate2 1s linear infinite;
animation-delay: 0.25s;
}


#contact form .animate:nth-child(3) {
bottom: 0;
right: 0;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #d2d3d3);
animation: animate3 1s linear infinite;
animation-delay: 0.50s;
}




#contact form .animate:nth-child(4) {
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #d2d3d3);
animation: animate4 1s linear infinite;
animation-delay: 0.75s;
}


#contact form h2 {
  font-size: 3.5em;
  font-weight: 600;
}
#contact form .inputs {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
#contact form .inputs input,
#contact form .inputs textarea
{
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.3em;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  resize: none;
  color: var(--sec);
}
#contact form .inputs span
{
  position: absolute;
  left: 0;
  padding: 5px 0;
  margin: 5px 0;
  font-size: 1.3em;
  pointer-events: none;
  transition: 0.5s ;
}
#contact form .inputs input:focus ~ span,
#contact form .inputs input:valid ~ span,
#contact form .inputs textarea:focus ~ span,
#contact form .inputs textarea:valid ~ span
{
 font-size: 1.1em;
 font-weight: 500;
 transform: translateY(-20px) ;
}
#contact form .inputs input[type="submit"]
{
 
 
 width: 30%;
 border: none;
 padding: 10px;
 margin: auto;
 font-size: 1.4em;
 background-color: var(--sec);
 color: var(--prim);
 cursor: pointer;
 border: 1px solid #e6e1e1;
 border-radius: 2px;
 transition: 0.5s ease-in-out;
}
#contact form .inputs input[type="submit"]:hover
{
 
 background-color: var(--prim);
 color: var(--sec);
 border: 1px solid var(--prim);
 box-shadow: 0 0 10px var(--prim);
}
@media (max-width:991px){
  #about {
    flex-direction: column;
    padding: 40px 100px
  }
  #about .bio {
    width: 100%;
  }
}
@media (max-width:865px){
  #service h2 {
    font-size: 2.4em;
    text-align: center;
    padding: 2px;
    height: 10%;
  }
  #contact form{
    padding: 25px ;
    margin: 20px 0;
    width: 90%;
  }
  #contact form h2 {
    font-size: 3.3em;
    font-weight: 600;
  }
}
@media (max-width:780px){
  #home{
    padding: 20x 30px;
  }
  #home .banner h1{
    font-size: 4.6em;
    letter-spacing: 3px;
  }
}
@media (max-width:780px){
  #home{
    padding: 20x 30px;
  }
  #home .banner h1{
    font-size: 4.6em;
    letter-spacing: 3px;
  }
}
@media (max-width:766px){
   #home{
    padding: 20x 10px;
  }
  #home .banner h1{
    font-size: 4.0em;
    letter-spacing: 0.35px;
  }
  #home{
    padding: 20x 10px;
  }
  #home .banner h1{
    font-size: 4.0em;
    letter-spacing: 0.35px;
  }
  
#home .area p{
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 7px;
}
#home .area span{
  text-align: center;
  font-weight: 400;
}
#home .area .links ul li{
 padding: 10px;
}
#home .area .links ul li a{
 border-radius: 50%;
 font-size: 1.8em;
}
.boxes {
  padding: 0 50px;
  justify-content: center;
}
}
@media (max-width:656px){
  #contact form{
    padding: 25px ;
    margin: 20px 0;
    width: 95%;
  }
  #contact form h2 {
    font-size: 3.3em;
    font-weight: 600;
  }
}
@media (max-width:625px){
  #home{
    padding:5px 2px;
  }
  #home .banner h1{
    font-size: 3.5em;
    letter-spacing: 0.1px;
  }
}
@media (max-width:539px){
#home .area p{
 font-weight: 600;
 font-size: 1.3em;
 margin-bottom: 5px;
}
#home .area span{
 text-align: center;
 font-weight: 400;
}
#home .area .links ul li{
padding: 8px;
}
#home .area .links ul li a{
border-radius: 50%;
font-size: 1.6em;
}
}
@media (max-width:486px){
#home .area p{
  text-align: end;
}
#home .area .links ul li a{
border-radius: 50%;
font-size: 1.6em;
}
}
@media (max-width:424px){
  #home{
    padding:5px 5px;
  }
  #home .banner h1{
    font-size: 3.0em;
    letter-spacing: 0.1px;
  }
}
@media (max-width:410px){
  #home{
    padding:0px 0px;
  }
  #home .banner h1{
    font-size: 2.6em;
    letter-spacing: 0.0px;
  }
}

@media (max-width: 480px) {
  .boxes{
 padding: 5px 20px;
  }

}
@media (max-width: 476px) {
  #service h2{
    font-size: 1.8em;
  }

}
@media (max-width:390px){
  #home .area {
    padding: 0 7px;
  }
  #home .area p{
    text-align: end;
    font-size: 1.0em;
  }
  #home .area span{
    font-size: 0.9em;
   }
  #home .area .links ul li a{
  font-size: 1.5em;
  }
  #home .banner{
    padding: 0 5px;
  }
  }
@media (max-width:587px){
  #contact{
    padding: 20px 40px;
  }
  #contact form{
    padding: 15px ;
    height: 60vh;
  }
  #contact form h2 {
    font-size: 3.0em;
    font-weight: 600;
  }
  #contact form .inputs input,
#contact form .inputs textarea
{
  padding: 3px 0;
  font-size: 1.2em;
}
#contact form .inputs span
{
  padding: 3px 0;
  margin: 5px 0;
  font-size: 1.2em;
}
#contact form .inputs input:focus ~ span,
#contact form .inputs input:valid ~ span,
#contact form .inputs textarea:focus ~ span,
#contact form .inputs textarea:valid ~ span
{
 font-size: 1.0em;
}
}
@media (max-width:435px){
  #contact{
    padding: 20px 25px;
  }
  #contact form{
    padding: 8px ;
    height: 60vh;
  }
  #contact form h2 {
    font-size: 2.5em;
    font-weight: 600;
  }
  #contact form .inputs input,
#contact form .inputs textarea
{
  padding: 3px 0;
  font-size: 0.9em;
}
#contact form .inputs span
{
  padding: 3px 0;
  margin: 5px 0;
  font-size: 1.0em;
}
#contact form .inputs input:focus ~ span,
#contact form .inputs input:valid ~ span,
#contact form .inputs textarea:focus ~ span,
#contact form .inputs textarea:valid ~ span
{
 font-size: 0.8em;
}
}


@media (max-width:431px){
  #home{
    padding:0px 0px;
  }
  #home .banner h1{
    font-size: 2.6em;
    letter-spacing: 0.0px;
  }
  #about {
    padding: 40px 10px;
  }
  #about .bio{
    padding: 40px 20px;
    margin: 10px 0;
  }

  #about .bio h2{
    font-size: 2.7em;
  }
}
@media (max-width:340px){
  #home{
    padding:0px 0px;
  }
  #home .banner h1{
    font-size: 2.4em;
    letter-spacing: 0.0px;
  }
  #home .area {
    padding: 0 2px;
  }
  #home .area p{
    text-align: end;
    font-size: 0.9em;
  }
  #home .area span{
    font-size: 0.8em;
   }
  #home .area .links ul li a{
  font-size: 1.5em;
  }

  #about {
    padding: 40px 5px;
  }
  #about .bio{
    padding: 40px 10px;
    margin: 10px 0;
  }

  #about .bio h2{
    font-size: 2.6em;
  }
  #contact{
    padding: 20px 40px;
  }
  #contact form{
    padding: 15px ;
    height: 60vh;
  }
  #contact form h2 {
    font-size: 3.0em;
    font-weight: 600;
  }
  #contact form .inputs input,
#contact form .inputs textarea
{
  padding: 3px 0;
  font-size: 1.2em;
}
#contact form .inputs span
{
  padding: 3px 0;
  margin: 5px 0;
  font-size: 1.2em;
}
#contact form .inputs input:focus ~ span,
#contact form .inputs input:valid ~ span,
#contact form .inputs textarea:focus ~ span,
#contact form .inputs textarea:valid ~ span
{
 font-size: 1.0em;
}
}
@media (max-width:435px){
  #contact{
    padding: 7px;
  }
  #contact form{
    padding: 6px ;
    height: 60vh;
  }
  #contact form h2 {
    font-size: 2.2em;
    font-weight: 600;
  }
  #contact form .inputs input,
#contact form .inputs textarea
{
  padding: 4px 0;
  font-size: 0.9em;
}
#contact form .inputs span
{
  padding: 2px 0;
  margin: 2px 0;
}
}
@media (max-width:340px){
  #home .banner h1{
    font-size: 2.0em;
    letter-spacing: 2px;
  }
}

@keyframes animate1 {
  0% {
      left: -100%;
  }

  50%,
  100% {
      left: 100%;
  }
}
@keyframes animate2 {
  0% {
      top: -100%;
  }
  
  50%,
  100% {
      top: 100%;
  }
  }
@keyframes animate3 {
  0% {
      right: -100%;
  }
  
  50%,
  100% {
      right: 100%;
  }
  }
@keyframes animate4 {
  0% {
      bottom: -100%;
  }
  
  50%,
  100% {
      bottom: 100%;
  }
  }
  


  @media (max-width:820px) {
    #nav-bar{
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: 0px;
      height: 100vh;
      width: 300px;
      background-color: var(--prim);
      box-shadow: 0 40px 60px rgba(0, 0,0, 0.1);
      padding: 58px 0 0 15px;
      transition: 0.2s;
      z-index: 10000;
  }
  #nav-bar.active{
    display: flex;
    
  }
  #nav-bar li{
      margin-bottom: 25px;
  }
  .hammenu{
      display: flex;
    }
  .hammenu i{
      color: var(--sec);
      font-size: 24px;
      padding-left: 20px;
    }

    #close{
      display: initial;
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 24px;
  }
  #nav-bar li .asap{
      display: none;
  }

  }